<launch>

  <arg name="world_file" default="$(dirname)/../worlds/willow-full.world" />

  <arg name="pub_gt_tf" default="true" />
  <arg name="pub_static_tf" default="true" />
  <arg name="gt_frame" default="gt" />
  <arg name="odom_frame" default="odom" />
  <arg name="base_footprint_frame" default="base_footprint" />
  <arg name="base_link_frame" default="base_link" />
  <arg name="laser_frame" default="base_laser_link" />
  <arg name="camera_frame" default="camera" />
  <arg name="use_odom_model" default="true" />

  <arg name="node_name" default="stage" />
  <arg name="node_start_delay" default="0.0" />


  <node pkg="stage_ros" type="stageros" name="$(arg node_name)"
    clear_params="true" output="screen" args="$(arg world_file)"
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'">

    <param name="pub_gt_tf" type="bool" value="$(arg pub_gt_tf)" />
    <param name="pub_static_tf" type="bool" value="$(arg pub_static_tf)" />

    <param name="gt_frame" type="string" value="$(arg gt_frame)" />
    <param name="odom_frame" type="string" value="$(arg odom_frame)" />
    <param name="base_footprint_frame" type="string" value="$(arg base_footprint_frame)" />
    <param name="base_link_frame" type="string" value="$(arg base_link_frame)" />
    <param name="laser_frame" type="string" value="$(arg laser_frame)" />
    <param name="camera_frame" type="string" value="$(arg camera_frame)" />

    <param name="use_odom_model" type="bool" value="$(arg use_odom_model)" />

  </node>

</launch>